@model EmpleadoModel
@{
    ViewData["Title"] = "DESARROLLADOR - MAIKEL CORDERO MONGE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-4">
            <!-- Image Section -->
            <div class="text-center">
                <img src="@Url.Content("~/profile.jpg")" alt="Maikel Cordero Monge" class="img-fluid rounded-circle shadow-lg" style="width: 250px; height: 250px; object-fit: cover;">
            </div>
        </div>
        <div class="col-md-8">
            <!-- Description Section -->
            <h2 class="display-5 font-weight-bold text-primary">Maikel Cordero Monge</h2>
            <p class="lead text-muted">Estudiante de la carrera ING.COMPUTACIÓN en el ITCR. Con experiencia en desarrollo de software, emprendedor y entusiasta de la tecnología.</p>
            <p>+506 6256-8307</p>
            <a href="mailto:maikeljosu25@gmail.com" class="btn btn-primary"><i class="fas fa-envelope"></i> Contactarme</a>
            <a href="https://www.instagram.com/maikel_cordero25?igsh=N2lyaTg4eDZkOW85&utm_source=qr" class="btn btn-outline-primary"><i class="fab fa-linkedin"></i> Instragram </a>
            <a asp-action="listar" asp-controller="Mantenedor" class="btn btn-warning">
                <i class="fas fa-arrow-left"></i> Volver a la lista
            </a>
        </div>
    </div>
</div>
